*.log
local_postgres_data
.cache
.cache/**/*.*
.idea
test-chain-state
test-chain-state-bp
test-chain-state-tmp
*.log
dist

# Ignore build artifacts from the local tests sub-crate.
target
artifacts

# Ignore backup files creates by cargo fmt.
**/*.rs.bk`
.env

# Dependency directory
node_modules

.yarn/*
.yarn/install-state.gz
yarn/install-state.gz
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.env.secret
# macOS
.DS_Store

.cargo/config.toml


*log.*.json

compose-persistence*